* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  color: #f0ebe0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  color: #F5A623;
  font-family: 'Cinzel', serif;
  letter-spacing: 4px;
}

h2 {
  color: #F5A623;
  font-family: "Cinzel", serif; 
}

header {
  text-align: center;
  padding: 60px 40px;
  background-color: #111111;
  border-bottom: 2px solid #c8a96e;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #2a2a2a;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #c8a96e;
  color: #95A5A6;
}
nav {
  background-color: #1a1a1a;
  padding: 15px 40px;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #F5A623;
  transition: color 0.3s aese;
}
main ul {
  padding: left: 20px;
  line-height: 2;
  list-style: none
}
header p { 
  color:  #c8a96e;
  font-size: 18px;
  margin-top: 12px;
  letter-spacing: 3px;
}
main ul li::before {
  content: "\25bb";
  color: #F5A623;
  margin-right: 8px;
}
